* {
  list-style: none;
  text-decoration: none;
}
a {
  color: teal;
}

nav {
  max-width: 700px;
  margin: auto;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  padding: 0;
  margin-top: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
}

li {
  margin: 0 10px;
  list-style: none;
  font-weight: bold;
  text-transform: uppercase;
}

/* Card Flowers Page */
.card {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-left: 30px;
}

.banner {
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  height: 70vh;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #fff;
  opacity: 0.8;
  display: flex;
  margin-top: 20px;
}

.banner::before {
  content: "";
  position: absolute;
  background: teal;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

/* Title */
o {
  background: rgb(185, 230, 215);
}
